* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 14);
    color: whitesmoke;
    font-size: 30px;
}

a {
    text-decoration: none;
    color:inherit;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 0px;
}

.logo {
    margin-left: 100px;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 5px;
    font-weight: 700;
    
}

.nav_links a:hover {
    display: flex;
    width: auto;
    height: 110px;
    color: rgb(0, 0, 14);
    background-color: antiquewhite;
    transform: skew(.312rad);
    align-items: center;
    border-radius:  0.5rem;
}

.nav_links li {
    margin: 20px;
}

h1 {
    font-family: 'Poiret One', cursive;

}