/* Global settings like the navbar go here */
:root {
	--primary-color: antiquewhite;
	--secondary-color: rgb(0, 0, 14);
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--secondary-color);
	color: whitesmoke;
	font-size: 2.5rem;
}

a {
	list-style: none;
	text-decoration: none;
	color: inherit;
}

header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 0px;
}

.logo {
	margin-bottom: 20px;
	font-family: "Poiret One", cursive;
	display: flex;
	align-items: center;
}

.nav_links {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 5px;
	font-weight: 700;
	border-bottom: 0px;
	margin-bottom: 0px;
}

.nav_links a:hover,
#active {
	display: flex;
	height: 70px;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	align-items: center;
	border-radius: 0.2rem;
	transition: 0.5s;
}

.nav_links li {
	margin: 20px;
}

.contact-me {
	height: 7.5rem;
	display: flex;
	align-items: flex-end;
}

.contact-me > * {
	margin: 20px;
}

/* Projects styles go here */

.project1 {
	margin: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.project1 p {
	padding: 10px;
}

.project1 img {
	width: 90%;
	border-radius: 2rem;
	border: 5px solid var(--primary-color);
}

.notP1 {
	display: flex;
	margin: 10px;
}

.notP1 {
	margin: 50px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.notP1 img {
	height: 500px;
}

.projects-main img:hover {
	filter: blur(3px);
}

/* Only styles related to the about page go here */
.about-section {
	display: flex;
	flex-direction: column;
	margin: 200px 100px 150px 100px;
}

.about-section p {
	margin: 0px 30px 0px 100px;
	padding: 20px 50px 20px 50px;
	line-height: 50px;
}

.hero {
	margin: 0;
	padding: 0;
	display: flex;
}

.hero p {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 20%;
	left: 20%;
	font-size: 5rem;
	color: var(--primary-color);
}

#sam {
	color: rgb(255, 0, 128);
}

.hero img {
	width: 100svw;
	min-height: 300px;
	max-height: 1000px;
	object-fit: cover;
	object-position: top 0rem right 0rem;
}

.hero-text {
	left: 20%;
	bottom: 31%;
	position: absolute;
	display: flex;
	gap: 50px;
}

.hero-text > * {
	color: var(--secondary-color);
	border-radius: 3rem;
	padding: 20px;
	border: 1px solid rgb(0, 37, 89);
	background-color: rgba(0, 191, 255, 0.7);
}

.hero-text > *:hover {
	background-color: rgba(0, 191, 255, 1);
}

.skills {
	margin: 20px;
	border: 2px;
	border-radius: 2rem;
	border-top: 2px solid var(--primary-color);
}

.skills p {
	margin-left: 50px;
	line-height: 150%;
}

footer {
	display: flex;
	justify-content: center;
	border-top: 1px solid rgba(250, 235, 215, 0.5);
}

footer > p {
	color: rgba(250, 235, 215, 0.597);
	padding: 0px;
	margin: 10px;
}

/* Responsive layout rules go here */
@media only screen and (max-width: 1024px) {
	/* This is for the about section */
	.about-section {
		display: flex;
		flex-wrap: wrap;
	}
	.about-section p {
		border-left: none;
		margin: 0px;
		padding: 0px;
	}
}

@media only screen and (max-width: 768px) {
	/* This is for the about section */
	.about-section {
		display: flex;
		flex-wrap: wrap;
	}
	.about-section p {
		border-left: none;
		margin: 0px;
		padding: 0px;
	}
}

@media only screen and (max-width: 480px) {
	/* This is for the about section */
	.about-section img {
		height: 400px;
	}

	.about-section {
		display: flex;
		flex-wrap: wrap;
	}
	.about-section p {
		border-left: none;
		margin: 0px;
		padding: 0px;
	}

	.skills ul {
		flex-wrap: wrap;
	}
}
