:root {
    --primary-color: antiquewhite;
    --secondary-color: rgb(0,0,14);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--secondary-color);
    color: whitesmoke;
    font-size: 30px;
}

a {
    text-decoration: none;
    color:inherit;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid antiquewhite;
    padding-bottom: 0px;
}

.logo {
    margin-bottom: 20px;
    margin-left: 100px;
    font-family: 'Poiret One', cursive;
    display: flex;
    align-items: center;

}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 5px;
    font-weight: 700;
    border-bottom: 0px;
    margin-bottom: 0px;
    
}

.nav_links a:hover, #active {
    display: flex;
    height: 70px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transform: skew(.312rad);
    align-items: center;
    border-radius:  0.2rem;
    transition: 0.5s;
}

.nav_links li {
    margin: 20px;
}

.about-section {
    display: flex;
    margin: 200px 100px 150px 100px;
}

.about-section p {
    margin: 0px 30px 0px 100px;
    padding: 20px 50px 20px 50px;
    border-left: 2px ridge var(--primary-color);
    line-height: 50px;
}

.about-section img {
    height: 700px;
    border-radius: 5rem;

}

.skills p {
    margin-left: 50px;
}

.skills ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}